<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @player.image %>
</p>

<p>
  <strong>Position:</strong>
  <%= @player.position %>
</p>

<p>
  <strong>Points:</strong>
  <%= @player.points %>
</p>

<p>
  <strong>Rebounds:</strong>
  <%= @player.rebounds %>
</p>

<p>
  <strong>Assists:</strong>
  <%= @player.assists %>
</p>

<p>
  <strong>Steals:</strong>
  <%= @player.steals %>
</p>

<p>
  <strong>Blocks:</strong>
  <%= @player.blocks %>
</p>

<p>
  <strong>Fg:</strong>
  <%= @player.fg %>
</p>

<p>
  <strong>Ft:</strong>
  <%= @player.ft %>
</p>

<p>
  <strong>Threes:</strong>
  <%= @player.threes %>
</p>

<p>
  <strong>Turnovers:</strong>
  <%= @player.turnovers %>
</p>

<% if !current_user.nil? %>
  <div>
  <%= link_to "Edit Player Info", edit_player_path(@player) %>
  </div>
  <div>
  <%= link_to "Delete Player", player_path(@player), method: :delete %>
  </div>
<% end %>
